*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.cidades{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cartao{
    background-color: rgb(10, 135, 66);
    width: 20rem;
    height: 28rem;
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    color: white;
}
.foto {
    width: 100%;
    height: 60%;
}
.nome {
    color: rgb(225, 208, 74);
    margin-bottom: 1rem;
}
