.area-flexbox{
    background-color: brown;
    display: flex;
    justify-content:space-evenly;
    height: 80vh;
    flex-wrap: wrap;
    gap: 16px;
    align-content: flex-start;
}
.bloco{
    background-color: crimson;
    width: 10rem;
    border: solid 2px white;
}
.bloco-impar{
height: 10rem;
}
.bloco-par{
height: 10rem;
}