*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(164, 155, 233) 0%,#e7fc9c 40%,#fcad6d 60%,#f6a9dc 100%);
    background-size: 200% 200%;
    animation: float 6s linear infinite alternate;
}
@keyframes float{
    from{background-position: 0 0;}
    to{background-position: 100% 100%;}
}
section{
    padding: 45px;
    background-color: white;
    width: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-shadow: 2px 15px 20px rgb(103, 41, 0);
}
header img{
    width: 360px;
}
header h3{
 color: #FF7EE2;
 font-size: 2.5rem;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

main a{
    background-color: #f6a9dc;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    box-shadow: 10px 10px #e7fc9c;
    font-size: 25px;
}
main a:hover{
    opacity: .85;
}
.footer{
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 1rem;
}