:root {
    --cor-primaria: #ffffff;
    --cor-segundaria: #0F2167;
    --cor-terciaria: #3559E0;
    --cor-quaternaria: #FFECD6;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}