@import url(./colors.css);
@import url(./reset.css);
header {
    background-color: var(--cor-primaria);
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5%;
    border-radius: 20px;
}

.header-navegacao * {
    font-size: 2rem;
    margin-left: 12px;
    color: var(--cor-segundaria);
}

.header-navegacao {
    display: flex;
}

.header-navegacao *:hover {
    color: var(--cor-terciaria);
    transform: scale(0.8);
}

.header-navegacao a:nth-child(1) {
    text-decoration: underline;
}

main {
    background-color: var(--cor-quaternaria);

}

.banner {
    width: 100%;
    border: solid 4px var(--cor-segundaria);
}

h1 {
    color: var(--cor-segundaria);
    text-align: center;
    margin: 2rem 0;
}

.cursos {
    display: flex;
    gap: 16px;
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.cursos__cartao {
    width: 14rem;
    height: 14rem;
    background-color: var(--cor-terciaria);
    border-radius: 20px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--cor-primaria);

}

.cursos__cartao:hover {
    filter: brightness(80%);
    cursor: pointer;
    transform: scale(1.01);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 6rem;
    background: rgb(255, 236, 214);
    background: linear-gradient(180deg, rgba(255, 236, 214, 1) 19%, rgba(76, 185, 231, 1) 59%, rgba(31, 73, 137, 1) 100%);
    color: var(--cor-segundaria);
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: var(--cor-segundaria);
}

.footer-links h2 {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 0.7rem;
    }

    .logo {
        width: 20%;
    }
    .cursos{
        flex-direction: column;
        align-items: center;
    }
    .cursos__cartao{
        height: 80%;
        width: 60%;
    }
}
@media only print {
    *{
        color: black;
    }
    header {
        display: none;
    }
    footer{
        display: none;
    }
}